<div class="aside">
	<label class="aside__search">
		<i class="fa fa-lightbulb-o"></i>
		<input type="" name="" placeholder="Smarthfilter">
	</label>
	<div class="aside__line">
	</div>
	<ul class="aside__ul">
		<li>
			<i class="fa fa-circle"></i>
			<div class="switch">
				<label>

					<input type="checkbox">
					<span class="lever"></span>
				</label>
			</div>
		</li>
		<li>
			
			<i class="fa fa-calendar"></i>
			<div class="switch">
				<label>

					<input type="checkbox">
					<span class="lever"></span>
				</label>
			</div>
		</li>
		<li>
			<i class="fa fa-heart"></i>
			<div class="switch">
				<label>

					<input type="checkbox">
					<span class="lever"></span>
				</label>
			</div>
		</li>
	</ul>
	<div class="aside__line">		
	</div>

	<div class="aside__status">
		<h3>Status</h3>	
		<div class="searchtop">
	<label>
	<i class="fa fa-search"></i>
	<input type="text" name="" placeholder="search">
	</label>

</div>


	</div>
	<button class="aside__delivered">delivered</button>
	


</div>