.header {
	display: flex;
	align-content: center;
	padding: 2rem;	
	width: 100%;
}
.top {
	display: flex;
	flex-direction: column;
}

@include media-breakpoint-down(md) {

	.header {
		display: flex;
		flex-direction: column;
	}

	
}