.items {
	@extend .menu;
	float: right;
	@include make-col(10);
	@extend .no-gutters;
	display: flex;
	list-style: none;
	float:none !important;
	&__truck {
		width: 120px !important;
	}
	&__date {
		border-radius: 3rem;
		font-size: 1rem;
		max-width: 140px;
		text-align: center;
	}
	&__info {
		background: $blanco;
		border-radius: 3rem;
		display: inline-grid;
		grid-template-columns: 20% 22% 20% 20% 20% 10%;
		grid-template-rows: 70px auto;
		height: 110px;
		width: 100%;
		li {
			height: 110px;
		}
		li:first-child(){
			border-radius: 1rem;
		}
	}
	&__row {
		@include make-col(12);
		@extend .no-gutters;
		display: flex;
		justify-content: space-around;
		margin-left: 2rem;
		align-items: center;
	}
	&__cont {
		display: flex;
		@include make-col(6);
			
	}
	&__location {
		display: flex !important;
		flex-direction: row !important;

		.fa-send {
			position: relative;
			top: 0;
			right: 40px;
		}
		&:before {
			background: grey;
			width: 1px;
			height: 70px;
			position: relative;
			right: 50px;
			content: ' ';
			top:0;
		}
		&:after {
			background: grey;
			width: 1px;
			height: 70px;
			position: relative;
			right: -20px;
			content: ' ';
			top:0;
		}
	}
	&__line {

	}
	&__qty {
		border-radius: 1rem;
		width: 160px;
		input {
			background:$rosa !important;
			border-radius:1rem;
			padding: 1rem;
			width: 60px;
			text-align: center;
			color: white;
			height: 60px;
			font-size: 1.4rem;
			text-align: center;
		}
	}
	&__price {
		font-size: 2rem;
		position: relative;
	}
	&__locationtxt {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		height: 110px;
		font-size: 1rem;
		width: 70px;
		text-align: center;
		.fa-check {
			background: none !important;
			color: $naranja	!important;
			font-size: 2rem !important;
			&:before {
				content: "\f107" !important;
			}
		}

	}

	&__ellips {
		 border-radius: 3rem;
		 max-width: 50px;
	}
	

	.fa-check {
		background: $naranja;
		color: $blanco;
		padding: 1rem;
		border-radius: 100%;
		font-size: 1rem;
		margin-right: 1rem;
		height: 42px;
	}
	li {
		color: grey;
		&:hover {
			background:$blanco;
			color: grey;
		}
	}
	i {
		font-size: 3rem;
	}
}