.searchtop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	&__cont {
		@include make-col(11);
		@include make-col-offset(1);
	}
    .fa-check {
    	background:$naranja;
		color: $blanco;
		padding: 1rem;
		border-radius: 100%;
		font-size: 1rem;
		margin-right: 4rem;
    }
    .fa-search {
    	margin-right: 0.4rem;
    }
    label {
	    background: white;
	    color: $gris-search;
	    font-size: 1rem;
	    width: 300px;
	    height: 40px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
}