<ul class="menu">
	<li>
		<i class="fa fa-home"></i>
		home
	</li>
	<li>
		<i class="fa fa-envelope"></i>
		messages
	</li>
	<li>
		<i class="fa fa-star"></i>
		wishlist
	</li>
	<li>
		<i class="fa fa-cog"></i>
		settings
	</li>
	<li>
		<i class="fa fa-user"></i>
		my account
	</li>
</ul>
