/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
       url('../fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
font-weight: normal;
  font-style: normal;
}
