.logo {
	@include make-col(3);
	@include make-col-offset(1);
	min-width: 150px;
	img {

	}
}

@include media-breakpoint-down(md) {
	.logo {
		flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
	}
}