.aside {
	border-top: 1px solid $gris-texto;
	height: auto;
	&:before {
	    content: '';
	    position: absolute;
	    left: 220px;
	    background: grey;
	    width: 1px;
	    height: 389px;
	}
	&__delivered {
		text-transform: uppercase;
		color:$negro;
		background: $blanco;
		padding: 1rem;
		margin-left: 2rem;
		width: 140px;
		margin-top: 20px;
		font-size: 0.7rem;
		border: none;
	}
	&__status {
		h3 {
			color: grey !important;
			font-size: 1rem;
			font-weight: bold;
			display: flex;
			justify-content: center;
			width: 170px;

		}	
	}
	&__line {
		border-bottom: 0.1rem solid grey;
		width: 50%;
		margin: 0 13%; 
	}
	&__search {
		border-bottom: 1px solid $gris-texto;
		color: $gris-texto;
		font-size: 1rem;
		display: flex;
		justify-content: center;
		align-content: center;
		width: 240px;
		i {
			font-size: 1.3rem !important;
			
		}
		input {
			background:transparent;
			outline: none;
			border: 1px solid $gris-texto;
			font-weight: bold;
		}
	}


	ul {
		@include make-col(6);
		@include make-col-offset(1);
		list-style: none;
	}
	li {
		color: $gris-texto;
		font-size: 1rem;
		width: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		margin-left: 1rem;
	}
	i  {
		font-size: 3rem;
		margin: 0.5rem;
		color: grey;
	}
	h3 {
		color: $gris-texto;
	}
	.searchtop {
		max-width: 210px;
		float: right;
		height: 30px;
		label {
			border-radius: 0.1rem;
			width: 140px;
		}
		i {
			font-size: 1rem !important;
		}
		input {
			max-width: 100px;
		}
	}

	.switch label input[type=checkbox]:checked + .lever {
		//background: $azul;
	}
	.switch label input[type=checkbox]:checked + .lever:after {
		//background: $azul;
	}
	.switch label input[type=checkbox]:checked + .lever:after {
		height: 30px;
		width: 30px;
	}

	.switch label .lever,

	{
		background-color: $azul;
		height: 26px;
		width: 46px;


		&:after {
			background: $blanco;
			height: 30px;
			width: 30px;
		}
	}
}