.menu {
	float: right;
	@include make-col(11);
	@extend .no-gutters;
	display: flex;
	list-style: none;
	li {
		color:$azul;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    background: $blanco;
	    flex-direction: column;
	    padding: 0.2rem;
	    text-transform: capitalize;
		width: 220px;
		&:hover {
			background: $azul;
			color: $blanco;
		}
	}
	i {
		font-size: 2rem;
	}
}
