
<div class="items">
	
	<div class="items__row">
		<i class="fa fa-check"></i>
		<ul class="items__info">
			
			<li class="items__date">
				Monday
				10 th
				<br>
				2:28 <br>
				PM
			</li>
			<li class="items__location">
				<span class="items__line">
					
				</span>
				
				<i class="fa fa-send"></i>
				<div class="items__locationtxt">
					Houston, TX, 33919
					<i class="fa fa-check"></i>
				</div>

			</li>
			<li class="items__truck">
				<i class="fa fa-truck"></i>
				
			</li>
			<li>
				<div class="items__price">
					$250.00
				</div>
				
			</li>
			<li class="items__qty">
				<input type="number" name=""  value="1">
				
			</li>
			<li class="items__ellips">
				<i class="fa fa-ellipsis-v"></i>
			</li>

		</ul>

	</div>



</div>


<div class="items">
	
	<div class="items__row">
		<i class="fa fa-check"></i>
		<ul class="items__info">
			
			<li class="items__date">
				Monday
				10 th
				<br>
				2:28 <br>
				PM
			</li>
			<li class="items__location">
				<span class="items__line">
					
				</span>
				
				<i class="fa fa-send"></i>
				<div class="items__locationtxt">
					Houston, TX, 33919
					<i class="fa fa-check"></i>
				</div>

			</li>
			<li class="items__truck">
				<i class="fa fa-truck"></i>
				
			</li>
			<li>
				<div class="items__price">
					$250.00
				</div>
				
			</li>
			<li class="items__qty">
				<input type="number" name=""  value="1">
				
			</li>
			<li class="items__ellips">
				<i class="fa fa-ellipsis-v"></i>
			</li>

		</ul>

	</div>


	
</div>

